ion-title {
  color: var(--ion-color-primary);
  font-size: 1.3rem;
  text-transform: uppercase;

}

.condense-header {
 margin-top: -1rem;
}

ion-searchbar {
  text-align: left;
  padding: 0;
  padding: 0 5px;
  //margin-top: 1.5rem;
  --border-radius: 50rem;
  --icon-color: var(--ion-color-primary);
}

ion-searchbar.md {
  text-align: left;
  --border-radius: 50rem;
  --box-shadow: none;
  --icon-color: var(--ion-color-primary);
  border: 2px var(--ion-color-primary) solid;
  border-radius: 50rem;
}

.main-col {
}


ion-content ion-list {
  --background: #eee;
}
