<p class="title" *ngIf="items">Auf einen Blick</p>
<ion-accordion-group expand="inset" *ngIf="items">
    <ion-accordion *ngFor="let item of items">
        <ion-item slot="header">
            <ion-label>{{ item.title }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
            <div class="columns" *ngIf="item.infoRows">
            </div>

              <ion-list *ngFor="let row of item.infoRows">
                <ion-row class="space-between">
                  <p>{{ row.name }}:</p>
                  <p>{{ row.content }}</p>
                </ion-row>
              </ion-list>
            <br *ngIf="item.infoRows && item.description" />
            <div class="freeText" *ngIf="item.description">
                <p>{{ item.description }}</p>
            </div>
        </div>
    </ion-accordion>
</ion-accordion-group>

<!-- <ion-accordion-group expand="inset">
    <ion-accordion value="second">
        <ion-item slot="header">
            <ion-label>Ankunft/Abreise</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
            <ion-row class="space-between">
                <p>Check in:</p>
                <p>ab 14:00</p>
            </ion-row>
            <ion-row class="space-between">
                <p>Check out:</p>
                <p>bis 11:00</p>
            </ion-row>
        </div>
    </ion-accordion>

    <ion-accordion lines="none" value="third">
        <ion-item slot="header">
            <ion-label>Stellplätze</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
            <ion-row class="space-between">
                <p>Parkplatznummer:</p>
                <p>Nr. 4</p>
            </ion-row>
            <ion-row class="space-between">
                <p>Fahrradstellplätze:</p>
                <p>2</p>
            </ion-row>
        </div>
    </ion-accordion>

    <ion-accordion value="fourth">
        <ion-item slot="header">
            <ion-label>Haustiere</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
            <ion-row class="space-between">
                <p>Haustiere sind in der gesamten Wohnung verboten</p>
            </ion-row>
        </div>
    </ion-accordion>
</ion-accordion-group> -->
