<app-header route="tab1"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  sizeLg="5.5" offsetLg=".5">
        <app-tab1-form pageTitle="Wohnung" tab="tab1"></app-tab1-form>
      </ion-col>
      <ion-col sizeLg="5.5">
        <div class="center-hz" *ngIf="!notShowAgain">
          <div class="dissmible-text">
            <span class="material-symbols-outlined" (click)="setTimetamp()">cancel</span>
            <p>In dieser Ansicht können Sie <br> Karten anlicken um sie zu bearbeiten</p>
          </div>
        </div>


        <div class="center-hz">
          <app-tab1-device-preview tab="tab1"></app-tab1-device-preview>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
