<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<ion-header>
  <ion-toolbar>

    <ion-row class="header-row">
      <ion-col size-sm="5.5" offset=".5" size-xs="2">
        <img src="/assets/imgs/hb-logo.png" class="big-img" alt="">
        <img src="/assets/imgs/hb-logo-small.png" class="small-img" alt="">
      </ion-col>
      <ion-col size-sm="5.5" size-xs="9.5">
        <a href="https://www.holiday-butler.com" target="_blank">
        <ion-row class="redirect">
            <p>Holiday Butler kaufen</p>
            <span class="material-symbols-outlined">
          arrow_outward
        </span>
        </ion-row>
        </a>

      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-header>
