<div class="footer">
  <ion-row class="align-vertical">
    <ion-col offsetLg=".5" size-lg="5.5">
      <p>Sie haben Fragen oder brauchen Hilfe bei der Einrichtung? <br>
        Rufen Sie uns jederzeit an und wir helfen Ihnen gerne.</p>
      <ion-row>
        <ion-button class="no-margin">+49 1575 1717859<span class="material-symbols-outlined">phone_in_talk</span></ion-button>
        <ion-button>E-Mail<span class="material-symbols-outlined">mail</span></ion-button>
      </ion-row>

    </ion-col>
    <ion-col size-lg="5.5" pull-lg=".5">
        <ion-row class="align-vertical">
          <ion-col class="link-col">
            <p><a href="https://www.holiday-butler.com/impressum">Impressum</a></p>
            <p><a href="https://www.holiday-butler.com/datenschutz">Datenschutz</a></p>
          </ion-col>
            <img src="/assets/imgs/hb-logo-small.png" alt="">
        </ion-row>
    </ion-col>
  </ion-row>
</div>
